// set twitter bootstrap mixins.less path.
@import 'twitter-bootstrap/mixins.less';


.huwa(){
	.border-radius(20px);
	background:#aaff00;

	div{
		background-color:#aabbff;
	}
}


.kuru(@deg:360deg){
  overflow:hidden;
  display:inline-block;
  .transition(all 1.8s cubic-bezier(0,1,1,2));
  .rotate(0deg);

  &:hover{
    .rotate(360deg);
  }
}

.goon(){
	@aa : 2s;
	.transition(~'font-size 1s ease-in,color 3s ease-in');
	font-size:10px;
	color:#0f0;

	&:hover{
		font-size:100px;
		color:#f00;
	}
}


.kurutest{
	background:#fffaaa;
	width:30px;
	height:30px;
	.kuru(720deg);
}

.goontest{
	.goon();
}